
*.csv
geckodriver.log
dados/nilc_emeddings/glove_s100.txt
dados/nilc_emeddings/glove_s100.zip
word2vec_stemming.model
.ipynb_checkpoints/4. modelo_word2vec-checkpoint.ipynb
dados/corpus_txt/corpus_txt.txt
word2vec.model
*.txt
*.model
*.npy
*.pptx
*.pdf
*.docx
img/dist_ftt_jur.png
img/dist_ftt_jur.png
img/dist_ftt_nilc.png
img/dist_glv_jur.png
img/dist_glv_nilc.png
img/dist_w2v_jur.png
img/dist_w2v_nilc.png
img/dist_ftt_jur.png
